        <footer class="text-center">
            <hr>
            <p class="text-primary">
                Copy &copy; 2017
            </p>
            <p>Kicking some ass code.....</p>
        </footer>

        <script type="text/javascript" src="/public/js/jquery-3.1.0.js"></script>
        <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
    </body>
</html>
