<% include nav.ejs %>

<div class="container-fluid">
    <div class="alert alert-success">
        <p>Well done ninja <%= data.username %></p>
        <p>Your sword is <%= data.password %></p>
    </div>
</div>

<% include footer.ejs %>
