<% include nav.ejs %>

<div class="container-fluid">
    <form action="" method="POST" role="form">
    	<legend class="text-center">Join the True Ninja's comminity</legend>

        <div class="form-group">
    		<label for="fname">First Name</label>
    		<input type="text" class="form-control" id="fname" placeholder="What is your stage ?" name="fname">
    	</div>

    	<div class="form-group">
    		<label for="username">Username</label>
    		<input type="text" class="form-control" id="username" placeholder="What is your code name ?" name="username">
    	</div>

        <div class="form-group">
    		<label for="email">Username</label>
    		<input type="text" class="form-control" id="email" placeholder="What is your belt ?" name="email">
    	</div>

        <div class="form-group">
    		<label for="password">Password</label>
    		<input type="password" class="form-control" id="password" placeholder="Place your sword here ..." name="password">
    	</div>

        <div class="form-group">
    		<label for="password-again">Password Again</label>
    		<input type="password-again" class="form-control" id="password-again" placeholder="Place your pen-knive too ..." name="password-again">
    	</div>

    	<button type="submit" class="btn btn-success">Swear Allegence</button>
    </form>
</div>


<% include footer.ejs %>
